.hot-stuff {
    position: relative;
    width: 60%;
    height: 500px;
    overflow: hidden;
}

.hot-stuff_hear-capter {
    margin-bottom: 150px;
}

.hot-stuff_some-people-block {
    width: 180px;
}

.hot-stuff .description {
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 2px solid rgb(237,237,237);
}

.hot-stuff_list-hot-stuff-news {
    width: 900px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .hot-stuff {
        width: 100%;
        height: 900px;
    }

    .hot-stuff_some-people-block {
        width: 600px;
    }

    .hot-stuff_hear-capter .help-margin.help-margin button:first-child {
        position: relative;
        top: 760px;
        left: -740px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
    }

    .hot-stuff_hear-capter .help-margin.help-margin button:last-child {
        position: relative;
        top: 760px;
        left: 0;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
    }

    .hot-stuff img {
        width: 535px;
    }

    .hot-stuff_list-hot-stuff-news {
        width: 2500px;
    }
}
