.recents-posts_hear-capter {
    margin-bottom: 60px;
}

.recents-posts_some-people-comment {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgb(237,237,237);
}

    .recents-posts_some-people-comment:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

.recents-posts_some-people-words {
    display: inline-block;
    position: relative;
    bottom: 10px;
    width: 30%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recents-posts {
    width: 30%;
    height: 500px;
    float: right;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .recents-posts {
        position: relative;
        bottom: 225px;
    }

    .recents-posts_some-people-words {
        width: 60%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .recents-posts {
        width: 100%;
        height: 2885px;
    }

    .recents-posts_some-people-comment {
        text-align: center;
    }

        .recents-posts_some-people-comment img {
            height: 640px;
        }

    .recents-posts_some-people-words {
        bottom: 0;
        width: 90%;
    }
}
