.searching {
    background-color: rgb(247,247,247);
    height: 3em;
    line-height: 3em;
    margin-bottom: 5px; /*ccccccc*/
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
    padding-left: 3.3%;
    overflow:hidden;
    text-overflow:ellipsis;
     
}

    .searching_info-titles {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
    }

    .searching_button {
        margin: 0;
        padding: 3px;
        border: none;
        background-color: rgb(108,119,131);
    }


.searching_search {
    display: inline-block;
    margin-right: 3.3%;
}

    .searching_search_button {
        margin: 0;
        padding: 13px;
        border: none;
        background-color: rgb(61,76,84);
    }

    .searching_search_input {
        position: relative;
        left: 4px;
        margin: 0;
        padding: 14px;
        border: none;
    }


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .searching {
        height: 6em;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .searching {
        height: 10em;
    }
}
