.social-news {
    background-color: rgb(241,241,241);
    padding: 30px;
    position: relative;
    width: 103.3%;
    right: 3.3%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .social-news .element.element {
        display: block;
    }
}


.social-news button {
    background-color: white;
}

.social-news > div > button {
    padding: 10px;
    margin-bottom: 20px;
}



.latest-news .some-people-comment {
    width: 300px;
}


    .latest-news .some-people-comment .some-people-words {
        position: relative;
        display: inline-block;
        bottom: 16px;
        width: 60%;
    }


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .latest-news {
        width: 100%;
    }

        .latest-news .some-people-comment {
            width: 100%;
            text-align: center;
        }

        .latest-news .some-people-words {
            text-align: left;
        }

        .latest-news .some-people-comment img {
            height: 640px;
        }
}




.latest-tweets {
    position: relative;
    bottom: 76px;
}

    .latest-tweets a {
        color: blue;
    }

    .latest-tweets .some-people-comment {
        width: 300px;
    }

        .latest-tweets .some-people-comment .some-people-words {
            position: relative;
            bottom: 20px;
            width: 60%;
        }

.pos-fix {
    position: relative;
    bottom: 111px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .latest-tweets {
        bottom: 0;
    }


        .latest-tweets .some-people-comment {
            width: 700px;
        }

        .latest-tweets .people-img {
            display: inline-block;
            bottom: 0;
        }

        .latest-tweets .some-people-words {
            display: inline-block;
            bottom: 0;
        }


        .latest-tweets .pos-fix {
            bottom: 0;
        }


    .pos-fix + .some-people-words {
        position: relative;
        top: 5px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .latest-tweets {
        bottom: 0;
        height: 1100px;
    }

        .latest-tweets .some-people-comment {
            width: 100%;
            margin-bottom: 30px;
        }

        .latest-tweets img {
            height: 100px;
        }
}

.other {
    width: 700px;
    position: relative;
    bottom: 144px;
    text-align: justify;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .other {
        bottom: 0;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .other {
        width: 100%;
    }
}



.tag-cloud {
    display: inline-block;
    width: 40%;
}

    .tag-cloud button {
        margin: 6px;
    }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .tag-cloud {
        padding-top: 10px;
        width: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .tag-cloud {
        width: 100%;
        padding-bottom: 100px;
    }
}


.social-media {
    position: relative;
    display: inline-block;
    text-align: left;
}

    .social-media ul {
        padding: 0;
    }

        .social-media ul li {
            display: inline-block;
            text-align: center;
        }

            .social-media ul li button {
                padding: 10px;
            }

            .social-media ul li:nth-child(1) button {
                background-color: orange;
            }

            .social-media ul li:nth-child(2) button {
                background-color: rgb(126,210,242);
            }

            .social-media ul li:nth-child(3) button {
                background-color: rgb(59,91,157);
            }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .social-media {
        padding-top: 10px;
        width: 100%;
        bottom: 0;
    }

        .social-media ul li {
            height: 200px;
            width: 220px;
        }

        .social-media.social-media li button {
            padding: 50px;
            font-size: 40px;
        }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .social-media {
        width: 100%;
    }

        .social-media ul {
            width: 100%;
        }

        .social-media li {
            width: 100%;
        }

        .social-media.social-media li button {
            padding: 150px;
            font-size: 100px;
        }
}

.logo-and-about {
    display: inline-block;
    width: 100%;
}

    .logo-and-about .logo-img {
        display: inline-block;
    }

    .logo-and-about p {
        display: inline-block;
        width: 50%;
    }

.logo-img {
    border-right: 1px solid gray;
    padding-right: 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .logo-img {
        width: 100%;
        border-left: none;
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
    }

        .logo-img img {
            width: 100%;
        }
    .logo-and-about p {
        width:100%;
    }
}
