.some-people .people-img {
    position: relative;
    top: 10px;
    padding-left: 10px;
}


.some-people {
    background-color: rgb(235,235,235);
}

    .some-people > .some-people-comment {
        display: inline-block;
        height: 100%;
        background-color: white;
        margin-top: 14px;
    }

    .some-people .some-people-words {
        width: 60%;
    }

    .some-people .people-img {
        display: inline;
    }

.some-people-words {
    display: inline-block;
}

.some-people-comment {
    width: 300px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .some-people .some-people-comment {
        width: 400px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .some-people .some-people-comment {
        width: 100%;
        text-align: center;
    }

    .some-people .people-img.people-img {
        text-align:center;
        width: 90%;
        height: 50%;
        top:0;
        padding:0;
    }

        .some-people .people-img img {
            padding-top:20px;
            width: 70%;
          
        }
}
