.sport-news {
    height: 500px;
    width: 25%;
    margin-left: 10%;
}

.sport-news_hear-capter {
    margin-bottom: 40px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .sport-news {
        position: relative;
        bottom: 100px;
    }

    .sport-news_some-people-comment {
        width: 300px;
    }
}



@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .sport-news {
        height: 2910px;
        width: 100%;
        margin-left: 0;
    }


    .sport-news_some-people-comment {
        text-align: center;
        width: 100%;
    }

        .sport-news_some-people-comment img {
            height: 640px;
        }

    .sport-news_some-people-comment_some-people-words {
        bottom: 0;
        width: 90%;
    }

    .sport-news_news-photo img {
        height: 800px;
    }
}
