
.technology-news {
    width: 30%;
    float: right;
    height: 500px;
}

.technology-news_hear-capter {
    margin-bottom: 40px;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .technology-news {
        position: relative;
        bottom: 225px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .technology-news {
        width: 100%;
        height: 2900px;
    }

    .technology-news_some-people-comment {
        text-align: center;
        width: 100%;
    }

        .technology-news_some-people-comment img {
            height: 640px;
        }

    .technology-news_some-people-words {
        bottom: 0;
        width: 90%;
    }

    .technology-news .news-photo img {
        height: 800px;
    }
}
