<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="CategoryRepositoryContectionString" value="categories.txt"/>
    <add key="TaskRepositoryContectionString" value="tasks.txt"/>
    <add key="RepositoriesPath" value="c:\\RestAppRepositories\\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="RestApp.Services.Categories.CategoryService">
        <endpoint address="" behaviorConfiguration="myhttpBehavior" binding="webHttpBinding" contract="RestApp.Services.Categories.ICategoryService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002/category/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="RestApp.Services.Tasks.TaskService">
        <endpoint address="" behaviorConfiguration="myhttpBehavior" binding="webHttpBinding" contract="RestApp.Services.Tasks.ITaskService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002/task/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="myhttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
