body li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}


.big-box {
    position: relative;
    width: 65%;
}

.left-box {
    position: relative;
    width: 27.5%;
}

.middle-around-float {
    position: relative;
    width: 27.5%;
    margin-left: 37.5%;
}

.right-box {
    position: relative;
    width: 25%;
}

.content {
    position: relative;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.buttons {
    height: 10%;
    width: 100%;
    display: table;
}

.white-color {
    color: white;
}


.full-sizes {
    height: 100%;
    width: 100%;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.left-absolute-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.right-absolute-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}



.grey-text {
    color: grey;
}

.dinamic-horizontal-list {
    padding: 0;
    margin: 0;
    text-align: justify;
}

    .dinamic-horizontal-list li {
        display: inline-block;
    }

        .dinamic-horizontal-list li.helper {
            width: 100%;
            height: 0;
            visibility: hidden;
            padding: 0;
        }

.vertical-list {
    margin: 0;
    padding: 30px 10px 30px 10px;
}

    .vertical-list li {
        padding: 10px 10px 10px 10px;
        margin-bottom: 15px;
    }

        .vertical-list li:last-child {
            margin-bottom: 0;
        }

.vertica-element-list {
    display: inline-block;
    vertical-align: middle;
}

.margin-vertical-element-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(108, 119, 131);
}

.btn-n {
    padding: 8px 8px;
}

.white {
    background-color: white;
}

.left-block {
    width: 42.3%;
    height: 90%;
}

.right-block {
    width: 42.3%;
    height: 90%;
}


.logo-img {
    height: 100%;
    width: 30%;
}




.border {
    border: 2px solid black;
}
