body li {
    list-style-type: none;
}

.content {
    position: relative;
   
}

.img-full-width {
    width: 100%;
}

.img-full-height {
    height: 100%;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.buttons {
    clear: both;
}


.left-float {
    float: left;
    border: 2px black solid;
}

.right-float {
    float: right;
    border: 2px black solid;
}

.left-absolute-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px black solid;
}

.right-absolute-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px black solid;
}

.middle-around-float {
    margin-left: 37.5%;
}


.dinamic-horizontal-list {
    padding: 0;
    margin: 0;
    text-align: justify;
}

    .dinamic-horizontal-list li {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 2px solid black;
    }

        .dinamic-horizontal-list li.helper {
            width: 100%;
            height: 0;
            visibility: hidden;
            padding: 0;
        }


.btn {
    border: 0;
    background-color: rgb(108, 119, 131);
    padding-left: 15px;
    padding-right: 15px;
}

.btn-n {
    padding: 8px 8px;
}
