.part-4 {
    clear: both;
}

.some-news {
    position: relative;
    height: 300px;
}

.some-list {
    position: relative;
    height: 300px;
}
    .some-list li:first-child > div {
        margin-top:0;
    }

.some-vidio {
    position: relative;
    height: 300px;
}

    .some-vidio ul {
        margin-top:10px;
    }

        .some-vidio ul li {
            height: 80px;
            width: 80px;
        }
