.patr-1 {
    clear: both;
}

.stuff {
    position: relative;
    height: 450px;
    
}

.content {
    height: 400px;
}

.photos ul li {
    display: inline-block;
}

.photos {
    float: left;
    height: 100%;
    width: 60%;
    display: inline-block;
    border: 2px lightgrey solid;
}

    .photos .full-width {
        height: 70%;
    }

    .photos .dinamic-horizontal-list {
        margin: 30px 10px 10px 10px;
    }

        .photos .dinamic-horizontal-list li {
            border: 3px solid black;
        }


.most-popular-news {
    float: right;
    height: 100%;
    width: 30%;
    display: inline-block;
}

    .most-popular-news ul {
        margin: 0;
        padding: 30px 10px 30px 10px;
        background-color: lightgrey;
    }

        .most-popular-news ul li {
            padding: 10px 10px 10px 10px;
            margin-bottom: 15px;
            background-color: white;
        }

            .most-popular-news ul li:last-child {
                margin-bottom: 0;
            }

    .most-popular-news .btn {
        width: 100%;
        height: 10%;
        color: white;
    }

.posts {
    position: relative;
    height: 450px;
    
}

    .posts li {
        border-bottom: 1px solid lightgray;
    }

.popular-btn {
    width: 30%;
    height: 100%;
}

.select-btn {
    background-color: lightgreen;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}

.recent-btn {
    height: 100%;
    width: 30%;
    background-color: rgb(108, 119, 131);
}

.comments-btn {
    height: 100%;
    width: 40%;
    background-color: rgb(108, 119, 131);
}



.posts ul {
    margin: 0;
    padding: 0;
}

.prev-next {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

    .prev-next div {
        margin-left: 85%;
    }

.posts .content {
    height: 400px;
}
