.patr-1 {
    clear: both;
}

.stuff {
    position: relative;
    float: left;
    height: 450px;
    border: 2px black solid;
    width: 65%;
}

    .stuff .content {
        height: 400px;
    }

.photos ul li {
    display: inline-block;
}

.photos {
    float: left;
    height: 100%;
    display: inline-block;
    border: 2px black solid;
}

.most-popular-news {
    float: right;
    height: 100%;
    display: inline-block;
    border: 2px black solid;
}


.posts {
    position: relative;
    height: 450px;
    float: right;
    width: 25%;
    border: 2px black solid;
}

    .posts .content {
        height: 400px;
    }
