.part-4 {
    clear: both;
}

.some-news {
    position: relative;
    border: 2px solid black;
    width: 27.5%;
    height: 300px;
}

.some-list {
    position: relative;
    border: 2px solid black;
    width: 27.5%;
    height: 300px;
}


.some-vidio {
    position: relative;
    border: 2px solid black;
    width: 25%;
    height: 300px;
}

    .some-vidio ul li {
        display:inline-block;
    }
