.part-2 {
    clear: both;
}


.game {
    border: 2px solid black;
    height: 300px;
}

    .game ul li {
        display: inline-block;
    }

.sport {
    border: 2px solid black;
    height: 300px;
}

    .sport ul li {
        display: inline-block;
    }

.technology {
    border: 2px solid black;
    height: 300px;
}

.technology li{
    margin-bottom: 20px; 
}

 