.part-2 {
    clear: both;
}


.game {
    position: relative;
    height: 300px;
    border-bottom: 1px solid lightgrey;
}

    .game ul li {
        display: inline-block;
    }

.sport {
    position: relative;
    height: 300px;
    border-bottom: 1px solid lightgrey;
}

    .sport ul li {
        display: inline-block;
    }

.technology {
    position: relative;
    height: 300px;
    border-bottom: 1px solid lightgrey;
}

    .technology li {
        margin-bottom: 20px;
    }
