/*Common css*/
html
{
    box-sizing: border-box;
}
*, *:before, *:after
{
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
    border: none;
}

body
{
    background: url("http://placehold.it/3000x3000") no-repeat top center fixed;
}

.page, button, label, .most-popular-news header, .news-bar header p {
    background-color: #465345;
    color: white;
	font: bold 12px arial, verdana;
}

.page
{
    width: 90%;
    margin: 40px auto;
}

a
{
    text-decoration: none;
    color: #537450;
}

ul
{
    list-style-type: none;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

img
{
    display:block;
}

.nav-btn 
{
    background-color: #E5E5E5;
    color: #465345;
    padding: 5px 10px;
    cursor:pointer;
    display: inline-block;
}

.hd-btn{
	padding: 10px 15px;
    margin: 10px;
    background-color: black;
}

.hd-btn{
    display: none;
}


.nav-btn-left 
{
    border-right: 1px solid #465345;
}

.nav-btn-right 
{
    border-left: 1px solid #465345;
}

.search-input {
    padding:15px 5%;
    border-left: 1px solid #bbb9b9;
}

.search
{
	width: 20%;
}

.search input
{
	width: 80%;
}

.search button
{
	width: 20%;
}

.btn 
{
    cursor: pointer;
}

.hot-stuff header, .recent-posts header, .all-news-gallery header, .news-category header, .bottom-block header
{
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}

.hot-stuff header h2, .recent-posts header h2, .all-news-gallery header h2, .news-category header h2, .bottom-block header h2
{
    background-color: #E5E5E5;
    color: #465345;
    padding: 3px 5px;
    font-size: small;
}

time 
{
    color: #AAAAAA;
}

.news-shortcut 
{
    margin-top: 5px;
    color: #AAAAAA;
    display: block;
    line-height: 1.5em;
}

.stars-container
{
    padding: 20px 0px 10px;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}

.follow-tweeter-link
{
    width: 100%;
}

.follow-tweeter-link a
{
    color: blue;
    text-align: center;
    width: 100%;
    display: block;
}

/*Header css*/
.header
{
    background-color: #465345;
	width: 100%;
}

.logo
{
    padding: 0px 3.85% 0px 2%;
    background-color: #465345;
}

.header-nav
{
    background-color: #465345;
}

.header-nav ul li a
{
    display: block;
    color: white;
    padding: 20px 10px;
    border-right: 1px solid #537450;
}
/*Top images css*/
.top-images
{
    background-color: #E5E5E5;
    width: 100%;
    padding: 0px 1.98%;
}

.top-images ul li
{
    background-color: white;
    padding: 10px 0.92%;
    margin: 20px 1.47%;
    width: 22%;
}

.top-images ul li p
{
    display: inline-block;
	width: 61%;
}

.top-images ul li figure
{
	width: 37%;
	display: inline-block;
}

.top-images ul li img
{
    width: 100%;
    padding-right: 12.5%;
}

.top-images ul li time
{
    margin-top: 5px;
    display: block;
}

/* Footer css*/
.footer
{
    width: 100%;
    padding: 20px 50px;
    background-color: #465345;
    margin-bottom: 40px;
}

.copy-right 
{
    color: #AAAAAA;
}

.footer ul li 
{
    display: inline-block;
}

.footer ul li a 
{
    display: block;
    color: #666666;
    border-right: 1px solid #666666;
    padding: 0px 10px 0px 5px;
}

.footer ul li:last-child a {
    border: none;
}

/*Breaking news CSS*/
.breaking-news 
{
    background-color: #faf7f7;
    padding: 0px 4.347826086956522%;
    width: 100%;
    color: #465345;
    border-top: 1px solid #bbb9b9;
    border-bottom: 1px solid #bbb9b9;
}

.breaking-news label 
{
    padding: 10px 0.9523809523809524%;
    margin: 5px 3.80952380952381% 5px 0px;
}

.inline-news 
{
    padding: 10px 0.634%;
    margin: 5px 0px;
	width: 58%;
    white-space: nowrap;
    overflow: hidden;
}

.inline-news p 
{
    padding: 0px 20px;
    display: inline-block;
}

.inline-news p i
{
    padding: 0px 10px;
}
/* Top news css */
.top-news 
{
    width: 100%;
    padding: 50px 4.347826086956522% 0px;
    background-color: white;
}

/* Carousel news css */
.carousel-news 
{
    width: 38.28571428571429%;
    border: 1px solid #faf7f7;
}

.preview-image-news
{
    margin: 10.5px 14.2%;
    border: 2px solid #faf7f7;
    cursor: pointer;
	width: 71.6%;
}

.preview-image-news img
{
    width: 100%;
}

.image-news 
{
    position: relative;
	width: 100%
}

.image-news  img
{
	width: 100%;
}

.image-news-caption 
{
    background-color: #465345;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    min-width: 100%;
    opacity: 0.7;
}

.preview-news-container li .selected
{
    border: 2px solid #465345;
}

.preview-news-container 
{
    padding: 0px 1.92%;
	width: 100%;
}

.preview-news-container li
{
	width: 25%;
}

/* Most popular news */
.most-popular-news
{
    background-color: #faf7f7;
    color: #465345;
    margin-left: 1.904761904761905%;
    width: 20.95238095238095%;
}

.most-popular-news header 
{
    padding: 15px 0px;
    text-align: center;
}

.most-popular-news div 
{
    background-color: white;
    margin: 15px 10px;
}

.most-popular-news div p
{
    padding: 12px 10px;
}

/* News bar css */
.news-bar
{
    background-color: #faf7f7;
    color: #465345;
    margin-left: 2.857142857142857%;
    width: 36%;
}

.news-bar > div 
{
    width: 100%;
}

.news-bar header p
{
    padding: 18.5px 8.2%;
    text-align: center;
    cursor: pointer;
	width: 33.3333333333%;
	white-space: nowrap;
}

.news-bar header .selected
{
    background-color: limegreen;
}

.news-bar ul li
{
    background-color: white;
    width: 100%;
    border: 1px solid #faf7f7;
}

.news-bar ul li img
{
    padding: 10px 2.65%;
}

.news-bar ul li p
{
    padding: 10px 10px 0px;
}

.news-bar ul li p.news-shortcut 
{
    padding:0px 10px;
}

.news-bar .nav-container 
{
    margin: 7px;
}

/* Categorized news css*/
.categorized-news 
{
    width: 100%;
    padding: 30px 4.347826086956522% 0px;
    background-color: white;
    color: #465345;
}

/* Hot Stuff css*/
.hot-stuff 
{
    padding-bottom: 20px;
    width: 60.95238095238095%;
    position: relative;
	white-space: nowrap;
    overflow: hidden
}

.hot-stuff  ul
{
    width: 100%;
	white-space: nowrap;
    overflow: hidden
}

.hot-stuff li
{
    margin: 20px 0px 20px 3.125%;
    width: 22.65625%;
	display: inline-block;
	min-width: 150px;
}

.hot-stuff div > figure
{
    width: 100%;
}

.hot-stuff div > figure > img
{
    width: 100%;
}

.hot-stuff ul li:first-child , .all-news-gallery ul li:first-child 
{
    margin-left: 0px;
}

.hot-stuff figcaption, .all-news-gallery figcaption
{
    font-size: 0.85em;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 0px;
    width: 100%;
}

.hot-stuff figcaption img, .all-news-gallery figcaption img
{
    padding-right: 2px;
}

.hot-stuff figcaption p, .all-news-gallery figcaption p
{
    padding: 3px 0px 5px;
	white-space: normal;
}

.hot-stuff figcaption time, .all-news-gallery figcaption time
{
    display: inline-block;
}

.hot-stuff .nav-container, .all-news-gallery .nav-container
{
    position: absolute;
    left: 90%;
    width: 10%;
    top: -3px;
}

/* Recent posts css */
.recent-posts
{
    width: 36%;
    margin-left: 2.857142857142857%;
    background-color: white;
    color: #465345;
	margin-bottom: 30px;
}

.recent-posts ul 
{
    padding: 20px 0px;
}

.recent-posts ul li
{
    padding: 10px 0px;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
}

.recent-posts ul li:first-child
{
    padding-top: 0px;
}

.recent-posts ul li:last-child
{
    border-bottom: none;
}

.recent-posts ul img
{
    padding-right: 10px;
}

.recent-posts ul li time
{
    padding: 5px 0px;
    display: block;
}

/*All News Gallery css*/
.all-news-gallery 
{
    padding-bottom: 20px;
    width: 100%;
    position: relative;
	white-space: nowrap;
    overflow: hidden;
}

.all-news-gallery  ul
{
    width: 100%;
	white-space: nowrap;
    overflow: hidden;
}

.all-news-gallery li 
{
    margin: 20px 0px 20px 3.41%;
    width: 13.80952380952381%;
    display: inline-block;
	min-width: 150px;
}

.all-news-gallery div > figure
{
    width: 100%;
}

.all-news-gallery div > figure > img
{
    width: 100%;
}

/* News Category css*/
.news-category 
{
    width: 29.71428571428571%;
    background-color: white;
    color: #465345;
    padding-bottom: 30px;
    margin-left: 1.43%;
}

.large-news-preview figure
{
    margin-top: 20px;
    border-bottom: 1px solid #E5E5E5;
}

.large-news-preview figure figcaption
{
    padding: 10px 0px;
}

.news-category  li, .news-category  li figure, .news-category  li:first-child figure img, .news-category  li div, .news-category  li figure iframe
{
    width: 100%;
}

.small-news-preview 
{
    padding: 10px 0px;
	width: 100%;
}

.small-news-preview time 
{
    padding-top: 11px;
}

.small-news-preview figure img 
{
    padding-right: 5px;
}

.small-news-preview figcaption 
{
    width: 100%;
}

.small-news-preview figure 
{
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 10px;
	width:100%;
}

.small-news-preview .news-shortcut 
{
    line-height: 1.1em;
}


.left-news-category
{
    margin-left: 0px;
}

.right-news-category 
{
    margin-left: 2.857142857142857%;
    width: 36%;
}

.right-news-category figcaption 
{
    width: 100%;
}

.right-news-category .small-news-preview .news-shortcut
{
    margin-bottom: 14px;
}

.right-news-category ul li:last-child figure
{
    border-bottom: none;
}


.inline-news-category
{
    width: 60.85714285714286%;
    margin-left: 0px;
}

.inline-news-category  li
{
    width: 50%;
}

.inline-news-category .small-news-preview
{
    padding: 0px 0px 10px 4.7%;
}

.inline-news-category .top-small-news-preview
{
    padding-top: 20px;
}

.inline-news-category .large-news-preview figure
{
    border-bottom: none;
}

.small-video-news-preview img
{
    margin-right: 1.59%;
	width: 23.81%;
}

.small-video-news-preview figure img:last-child
{
    margin-right: 0px;
}

.video-news-preview figure
{
    border-bottom: none;
    padding-bottom: 10px;
}

/*Bottom blocks css*/
.bottom-blocks
{
    width: 100%;
    padding: 30px 4.347826086956522% 50px;
    background-color: #faf7f7;
    color: #465345;
}

.bottom-block
{
    width: 23.80952380952381%;
}

.bottom-block header
{
    border-bottom: none;

    padding-bottom: 10px;
}

.bottom-block header h2
{
    background-color: white;
}

.bottom-block time
{
    margin-bottom: 8px;
    display: block;
}

.bottom-block li
{
    padding-bottom: 20px;
    width: 100%;
}

.bottom-block-left figure
{
    padding-right: 4%;
    width: 32%;
}


.bottom-block-left img
{
    width: 100%;
}

.tweet
{
    width: 79%;
    color: #AAAAAA;
    line-height: 1.5em;
}

.tweet a
{
    color: blue;
}

.tag-cloud li
{
    display: inline-block;
    width: auto;
    padding: 0px;
}

.tag-cloud li a
{
    background-color: white;
    color: #465345;
    padding: 6px 7px;
    margin: 0px 5px 5px 0px;
    display: inline-block;
}

.social-media li
{
    width: 33.3%;
    display: inline-block;
    border-left: 1px solid #E5E5E5;
}

.social-media li:last-child
{
    border-right: 1px solid #E5E5E5;
}

.social-media li figure img
{
    padding: 0px 25%;
	width: 100%;
}

.social-media li figure p
{
    text-align: center;
    padding-top: 7px;
}


.social-media li figure
{
    text-align: center;
    padding: 0px;
}

.bottom-block
{
    margin-left: 1.58%;
}

.bottom-blocks .bottom-block:first-child
{
    margin: 0px;
}

.about-bottom-block
{
    margin: 30px 0px 0px 1.58%;
    width: 49%;
}

.about-bottom-block img
{
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #E5E5E5;
}

.about-bottom-block figcaption
{
    padding-top: 20px;
}

.about-bottom-block
{
    color: #AAAAAA;
}

@media (max-width: 1000px) and (min-width: 601px) {
    .header-nav{
	    display: none;
	}
	
	.hd-btn{
        display: block;
	}
	
	.top-images ul li figure
	{
	     width: 70%;
	}
	
	.top-images ul li p
	{
	    width: 100%;
	}
	
	.breaking-news label 
        {
        margin-right: 0;
    }
	
	.breaking-news 
        {
        padding: 0px;
    }
	
	.top-carousel-with-popular
	{
	    float: left;
		width: 69%;
	}
	
	.carousel-news
	{
	    width: 100%;
	}
	
	.most-popular-news
	{
	    width: 100%;
		margin-left: 0;
	}
	
	.top-news
	{
	    padding: 20px 1% 0;
	}
	
	.news-bar
	{
	    width: 30%;
		margin-left: 1%;
	}
	
	.news-bar header p
	{
	    width: 100%;
		text-align: left;
	}
	
	.news-bar ul li img
	{
	    padding-bottom: 0px;
	}
	
	.hot-stuff .nav-container, .all-news-gallery .nav-container {
        left: 70%;
        width: 30%;
        top: -2px;
    }
	
	.bottom-block
	{
	    width: 100%;
		margin-bottom: 20px;
		margin-left: 0;
	}
	
	
	.bottom-block-left img
	{
	    width: initial;
	}
	
	.bottom-block-left figure {
        padding-right: 1%;
        width: initial;
    }
	
	.tweet
	{
	     float: left;
		 margin-left: 10px;
	}
	
	.social-media
	{
	    width: 100%;
	}
	
	.social-media li figure img {
        padding: 0px 35%;
    }
	
	.about-bottom-block
	{
	    width: 100%;
	}
	
	.categorized-news
	{
	    padding: 30px 1% 0px;
	}
}

@media (max-width: 600px) and (min-width: 300px) {
    .header-nav{
	    display: none;
	}
	
	.hd-btn{
        display: block;
	}
	
	.top-images
	{
	    width: 100%;
		padding: 0 15%;
	}
	
	.top-images ul li {
        padding: 10px 5%;
        margin: 20px 0;
        width: 100%;
    }
	
	.top-images ul li figure {
        width: 100%;
    }
	
	.top-images ul li img {
        width: 100%;
        padding-right: 0;
    }
	
	.top-images ul li p {
        width: 100%;
    }
	
	.hd-btn{
	    margin: 10px 9px 10px 5px;
	}
	
	.inline-news {
	    width: 100%;
	}
	
	.search
	{
	    width: 100%;
		padding-bottom: 10px;
	}
	
	.carousel-news
	{
	    width: 100%;
	}
	
	.most-popular-news
	{
	    width: 100%;
		margin-left: 0;
		margin-bottom: 20px;
	}
	
	.news-bar {
        margin-left: 0;
        width: 100%;
    }
	
	.news-bar header p {
		text-align: initial;
		width: 100%;
    }
	
	.news-bar ul li img {
		width: 100%;
	}
	
	.hot-stuff .nav-container, .all-news-gallery .nav-container {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 18px;
		top: initial;
    }
	
	.hot-stuff{
	    width: 100%;
	}
	
	.nav-btn {
        float: left;
    }
	
    .nav-btn-right {
        border-left: none;
        float: right;
    }
	
	.recent-posts {
		width: 100%;
		margin-left: 0;
    }
	
	.recent-posts ul img {
		padding-right: 0;
		width: 100%;
	}
	
	.news-category {
		width: 100%;
		margin-left: 0;
	}
	
	.small-news-preview figure img {
		padding-right: 5px;
	    width: 100%;
	}
	
	.large-news-preview figure time{
	    float: left;
	}
	
	.inline-news-category li {
        width: 100%;
    }
	
	.inline-news-category .small-news-preview {
        padding: 0px 0px 10px 0;
    }
	
	.bottom-block
	{
	    width: 100%;
		margin-bottom: 20px;
		margin-left: 0;
	}
	
	.bottom-block-left figure {
		padding-right: 0;
		width: 100%;
	}
	
	.about-bottom-block {
		margin: 30px 0px 0px 1.58%;
		width: 100%;
	}
	
	.about-bottom-block figcaption {
        padding-top: 20px;
		width: 100%;
		float: left;
    }
	
	.about-bottom-block img {
        border-right: none;
    }
	
	.footer {
		padding: 20px 20px;
	}

	.footer nav, .footer nav ul {
		width: 100%;
		float: left;
	}
	
	.social-media li {
		width: 100%;
		display: inline-block;
		border-left: 1px solid #E5E5E5;
		border-right: 1px solid #E5E5E5;
	}
	
	.social-media li figure img {
		padding: 0px 40%;
		width: 100%;
	}
}
