.most-popular-news {
    width: 70%;
}

.photos {
    float: left;
    height: 85%;
    width:42%;
}

.menu-popular-news {
    float: right;
    height: 85%;
    width:42%;
}

.menu-popular-news .head{
    padding:20px;
    text-align:center;
    margin-bottom:10px;
}

.menu-popular-news .some-desription{
     padding:30px;
    text-align:center;
}

.popular-recent-coments {
    width: 20%;
    margin-left: 9.7%;
}

.hot-stuff {
    width: 70%;
}

.recents-posts {
    width: 20%;
    margin-left: 9.7%;
}

.game-news {
    width: 30%;
}

.sport-news {
    width: 30%;
    margin-left: 10%;
}

.technology-news {
    width: 20%;
    margin-left: 9.6%;
}

.fasion-news {
    width: 70%;
}

.fasion-news-main {
    float: left;
    width: 42.8%;
}

.comments-on-news {
    float: left;
    width: 42.8%;
    margin-left: 14%;
}

.video-galery {
    width: 20%;
    margin-left: 9.6%;
}

    .video-galery .photos {
        width: 100%;
    }
