
.menu-popular-news {
    overflow: hidden;
}

@media (max-width: 1200px) {
    .most-popular-news {
        width: 60%;
        float: left;
        height: 600px;
    }

    .photos {
        width: 100%;
        height: 50%;
    }

    .menu-popular-news {
        width: 100%;
        height: 50%;
    }

    .recents-posts {
        position: relative;
        bottom: 100px;
    }

    .technology-news, .video-galery {
        position: relative;
        bottom: 100px;
    }

    article .fasion-news {
        height: 400px;
    }
}

@media (min-width: 1200px) {
    .most-popular-news {
        width: 60%;
        float: left;
        height: 500px;
    }

    .photos {
        width: 42%;
        float: left;
        height: 100%;
    }

    .menu-popular-news {
        width: 42%;
        float: right;
        height: 100%;
    }
}

.menu-popular-news .head {
     padding-top:20px;
   padding-bottom:20px;
    text-align: center;
    margin-bottom: 30px;
    background-color:rgb(61,76,84);
    color:white;
    font-size:22px;
    
}

.menu-popular-news {
    background-color:rgb(242,242,242);
}


.menu-popular-news .some-desription {
   padding-top:20px;
   padding-bottom:20px;
    text-align: center;
    background-color:white;
    width:80%;
    margin-left:10%;
    margin-bottom:10%;

}

.popular-recent-coments {
    width: 30%;
    float: right;
    height: 500px;
}

.hot-stuff {
    width: 60%;
    height: 500px;
}

.game-news {
    height: 500px;
}

.sport-news {
    height: 500px;
}

.technology-news {
    height: 500px;
}

.fasion-news {
    height: 500px;
}

.video-galery {
    height: 500px;
}

.recents-posts {
    width: 30%;
    height: 500px;
    float: right;
}

@media (min-width: 670px) {

    .game-news {
        width: 25%;
    }

    .sport-news {
        width: 25%;
        margin-left: 10%;
    }

    .technology-news {
        width: 30%;
        float: right;
    }

    .fasion-news {
        width: 60%;
    }

    .fasion-news-main {
        float: left;
        width: 42.8%;
    }

    .comments-on-news {
        float: right;
        width: 42.8%;
    }

    .video-galery {
        width: 30%;
        float: right;
    }
}

@media (max-width: 670px) {
    .game-news {
        width: 100%;
    }

    .sport-news {
        width: 100%;
        float: right;
    }

    .technology-news {
        width: 100%;
        float: left;
    }

    .fasion-news {
        width: 100%;
        float: right;
    }

    .fasion-news-main, .comments-on-news, .video-galery, .most-popular-news, .popular-recent-coments, .recents-posts, .hot-stuff {
        width: 100%;
    }

    .recents-posts {
        bottom: 0;
    }

    .technology-news, .video-galery {
        bottom: 0;
    }
   article .fasion-news {
        height:500px;
    }
}

.video-galery .photos {
    width: 100%;
}
