.dinamic-list {
    text-align: justify;
}

    .dinamic-list > .element {
        display: inline-block;
    }

    .dinamic-list::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
        padding: 0;
    }


@media (max-width: 1325px) {
    .head-element {
        width: 500px;
        margin-bottom: 10px;
    }

        .head-element .some-people-words {
            position: relative;
            bottom: 30px;
        }
}

@media (max-width: 500px) {
    .head-element .some-people-words {
        width: 100%;
        bottom: 15px;
    }
}
