
button {
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    margin-bottom: 13px;
    margin-top: 13px;
}

.dinamic-list {
    text-align: justify;
}

    .dinamic-list > .element {
        display: inline-block;
    }

    .dinamic-list::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
        padding: 0;
    }

.some-people .people-img {
    position: relative;
    top: 10px;
    padding-left: 10px;
}


.head-element .some-people-words {
    position: relative;
    bottom: 10px;
}


