.game-news {
    height: 500px;
    width: 25%;
}

    .game-news .hear-capter {
        margin-bottom: 40px;
    }


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .game-news {
        position: relative;
        bottom: 100px;
    }
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    .game-news {
        height: 2795px;
        width: 100%;
    }


        .game-news .some-people-comment {
            text-align: center;
            width: 100%;
        }

            .game-news .some-people-comment img {
                height: 640px;
            }

        .game-news .some-people-words {
            bottom: 0;
            width: 90%;
        }

        .game-news .news-photo img {
            height: 800px;
        }
}
