.searching {
    background-color: rgb(247,247,247);
    height: 3em;
    line-height: 3em;
    margin-bottom: 5px; /*ccccccc*/
    border-bottom: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

    .searching p {
        display: inline-block;
        margin: 0;
        white-space: nowrap;
    }

    .searching > button {
        margin: 0;
        padding: 3px;
        border: none;
        margin-left: 3.3%;
        background-color: rgb(108,119,131);
    }


.search {
    display: inline-block;
    margin-right: 3.3%;
}

    .search button {
        margin: 0;
        padding: 13px;
        border: none;
        background-color: rgb(61,76,84);
    }

    .search input {
        position: relative;
        left: 4px;
        margin: 0;
        padding: 14px;
        border: none;
    }
