.border {
    border: 1px solid black;
}

.words-footer {
    color: gray;
}

article {
    margin-left: 3.3%;
    width: 93.3%;
}

.def-margin {
    padding-left: 3.3%;
    padding-right: 3.3%;
 
}



.people-img {
    display: inline-block;
}


