.border{
	border: 1px solid black;
}

main{
	margin-left: 5%;
	margin-right: 5%;
}

header{
	display: block;
	width: 100%;
	height: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	background-color: lightyellow;
}

.log-in{
	margin-left: 90%;
}


.main-content{
	text-align: center;
}

.selected-items{
	display: inline-block;
	text-align: left;
	width: 47%;
	vertical-align: top;

}

.menu-items{
	display: inline-block;
	text-align: left;
	width: 47%;
	vertical-align: top;
}

.element{
	border:1px solid black;
	width: 40%;
	padding: 20px 20px 20px 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.available-item{
	border:1px solid black;
	width: 70%;
	padding: 20px 20px 20px 20px;
	margin-left: 20px;
	margin-top: 20px;
}

.available-item button{
	border:none;
	margin-top: 20px;
	padding: 10px 20px 10px 20px;
}

.tabs{
	width: 100%;
	text-align: center;
	display: table;
	margin-bottom: 20px;
}

.tabs label{
	display: table-cell;
	background: lightblue;
	border: 1px solid black;
}

.tabs label a{
	display: inline-block;
	height: 100%;
	width: 100%;
}

