.orange {
  background-color: #FF7400; }

.red {
  background-color: #FF3333; }

.pink {
  background-color: #FF3399; }

.purple {
  background-color: #AC3BD4; }

.text-orange {
  background-color: #FF7400; }

.text-red {
  background-color: #FF3333; }

.text-pink {
  background-color: #FF3399; }

.text-purple {
  background-color: #AC3BD4; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

img {
  border: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
input {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.fr-button {
  padding: 10px 20px 10px 20px; }

.fr-input {
  border: 1px solid black; }
