.elements {
	margin-left: 20px;
	margin-top: 20px;
}
.buttons button {
	margin-right: 10px;
}
.inputs input {
	margin-right: 10px;
}

.inner-elements {
	padding-top: 20px;
	padding-bottom: 20px;
}

.test-box {
	display: block;
/*	height: 500px;*/
	width: 500px;
	border: 1px solid black;
}