.left {
    float: left;
}

.right {
    float: right;
}

.nofloat {
    float: none;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.hide {
    display: none;
}

.centre-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}