.framework-hide-element{
	display: none !important;
}




.container{
	display: flex;

	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	justify-content: space-around;
}

.main-description{
	display: inline-block;
	background: tomato;
	color: white;

}

.element-beavior{
	display: flex;
	background: tomato;
	width: 40%;
	color: white;
	font-weight: bold;

}