.framework-hide-element{
	display: none !important;
}

.accent{
 	color:	black;
}


.container{
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
	background-color: lightgray;
	color: white;

}

.flex-container{
	display: flex;
	justify-content: space-between;
}


.main-description{
	display: inline-block;
	width:100%;
	background: tomato;
	margin-bottom: 20px;

}

.element-beavior{
	display: flex;
	background: tomato;
	width: 48%;
	padding-left: 10px;
	margin-bottom: 20px;
	text-align: left;
}
.element-beavior article{
	width: 100%;
}

.element-beavior h3,.element-beavior h2{
	text-align: center;
}

.code{
	text-align: left;

}