body {
  background-color: #f00;
  padding: 20px;
}
body {
 font-family: sans-serif;
}
.loaded-lato .lato {
 font-family: 'Lato', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
.cardo {
  font-family: 'Cardo', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.merriweather {
  font-family: 'Merriweather', sans-serif;
}
