// buttons
.fr-button {
	padding: 10px 20px 10px 20px;
}

// inputs
.fr-input {

	&[type='text'] {
		padding: 6px;
		border: 10px solid rgba(255, 255, 255, 0.5);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.5);
		outline: none;
		color: #333;
	}

	&[type="radio"] {
		display: none;
	}
	&[type="radio"] + label:before {
		content: "";
		display: inline-block;
		width: 19px;
		height: 19px;
		margin: -1px 4px 0 0;
		vertical-align: middle;
		cursor: pointer;
		-moz-border-radius: 50%;
		border-radius: 50%;
	}

	&[type="radio"] + label:before {
		background-color:$black;
	}

	&[type="radio"]:checked + label:before{
		background-color:$red;
	}

	&[type="radio"] + label:before,
	&[type="radio"]:checked + label:before {
		transition:background-color 0.4s linear;
	}

	&[type="checkbox"] {

	}

	&[type="checkbox"]:before {
		transition:background-color 0.4s linear;
	}

	&[type="checkbox"]:before {
		content: "";
		border: 5px solid $black;
		background-color: $orange;

		display: inline-block;
		width: 15px;
		height: 15px;
	}

	&[type="checkbox"]:checked:before {
		background-color: $red;
	}
}

textarea.fr-input{
		padding: 6px;
		border: 10px solid rgba(255, 255, 255, 0.5);
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25);
		border-radius: 10px;
		background: rgba(255, 255, 255, 0.5);
		outline: none;
		color: #333;
}

// boxes

.fr-boxes-container {

	width: 100%;
	text-align: justify;

	.fr-box-small,
	.fr-box-medium,
	.fr-box-large {
		display: inline-block;
		border: 1px solid black;
		vertical-align: top;
	}

	.fr-box-small {
		width: 15%;
	}

	.fr-box-medium {
		width: 25%;
	}

	.fr-box-large {
		width: 40%;
	}

	&:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
}

//grid

.fr-row {
	margin-left: -15px;
	margin-right: -15px;
}

.fr-col-1, .fr-col-2, .fr-col-3, .fr-col-4, .fr-col-5, .fr-col-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}

.fr-col-6 {
	width: 100%;
}



.fr-col-5 {
	width: 83.33333333%;
}
.fr-col-pull-5 {
	left: 83.33333333%;
}


.fr-col-4 {
	width: 66.66666666%;
}
.fr-col-pull-4 {
	left: 66.66666666%;
}


.fr-col-3 {
	width: 50%;
}
.fr-col-pull-3 {
	left: 50%;
}


.fr-col-2 {
	width: 33.33333333%;
}
.fr-col-pull-2 {
	left: 33.33333333%;
}


.fr-col-1 {
	width: 16.66666666%;
}
.fr-col-pull-1 {
	left: 16.66666666%;
}

@media (min-width: 1000px) {

}

@media (min-width: 650px) {

}


.fr-row:before,
.fr-row:after {
	content: " ";
	display: table;
}

.fr-row:after {
	clear: both;
}

.fr-pull-right {
	float: right !important;
}
.fr-pull-left {
	float: left !important;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}