//colours variables
$orange: #FF7400;
$red: #FF3333;
$pink: #FF3399;
$purple: #AC3BD4;
$black: #1f0f04;
$aqua: #00FFFF;

// colours classes
.orange{
	background-color: $orange;
}
.red{
	background-color: $red;
}
.pink{
	background-color: $pink;
}
.purple{
	background-color: $purple;
}
.black{
	background-color: $black;
}
.aqua{
	background-color: $aqua;
}

.text-orange{
	color: $orange;
}
.text-red{
	color: $red;
}
.text-pink{
	color: $pink;
}
.text-purple{
	color: $purple;
}
.text-black{
	color: $black;
}
.text-aqua{
	color: $aqua;
}

