//colours variables
$orange: #FF7400;
$red: #FF3333;
$pink: #FF3399;
$purple: #AC3BD4;

// colours classes
.orange{
	background-color: #FF7400;
}
.red{
	background-color: #FF3333;
}
.pink{
	background-color: #FF3399;
}
.purple{
	background-color: #AC3BD4;
}

.text-orange{
	background-color: #FF7400;
}
.text-red{
	background-color: #FF3333;
}
.text-pink{
	background-color: #FF3399;
}
.text-purple{
	background-color: #AC3BD4;
}

