footer {
    position: relative;
    bottom: 29px;
    background-color: rgb(35,50,63);
    clear: both;
    padding-left: 3.3%;
    padding-right: 3.3%;
    overflow: hidden;
    height: 55px;
    color: lightgray;
}

    footer ul li {
        display: inline-block;
        border-right: 3px solid lightgray;
        padding-right: 3px;
    }

        footer ul li:last-child {
            border-right: none;
        }


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   footer {
      width: 96%;
   }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
    footer {
        height:190px;
        width:96.6%;
    }
}
