
header {
    background-color: rgb(61,76,84);
    color: white;
    text-align: center;
    width: 100%;
}

    header > ul {
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 3em;
        height: 3em;
    }

        header > ul > li {
            display: inline-block;
            border-right: 1px solid gray;
            padding-right: 5px;
        }

    .show-menu, header label {
        display: none;
    }

.logo {
    position: relative;
    top: 16px;
    float: left;
    padding-left: 3.3%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    header {
        overflow: hidden;
        height: 48px;
        transition: height 1s linear;
    }

        header label {
            position: relative;
            float: right;
            right: 3.3%;
            top: 10px;
            font-size: 20px;
            display: inline-block;
            z-index: 1;
            background-color: black;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            height: auto;
        }

        header ul {
            overflow: hidden;
            position: relative;
            top: 35px;
            padding: 0;
            margin: 0;
            height: 400px;
        }

            header ul li {
                text-align: center;
                height: 100px;
                width: 100%;
            }

    .show-menu[type=checkbox]:checked ~ header {
        height: 400px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {


    header {
        overflow: hidden;
        height: 96px;
        transition: height 1s linear;
    }

        header label {
            position: relative;
            float: right;
            right: 3.3%;
            top: 10px;
            font-size: 50px;
            display: inline-block;
            z-index: 1;
            background-color: black;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 5px;
            height: auto;
        }

        header ul {
            overflow: hidden;
            position: relative;
            top: 45px;
            padding: 0;
            margin: 0;
            height: 650px;
        }

            header ul li {
                text-align: center;
                height: 100px;
                width: 100%;
            }

    .show-menu[type=checkbox]:checked ~ header {
        height: 650px;
    }
}
